@model FaturaTakip.Data.Models.Message

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Message</h4>
<hr />
@if (User.Claims.Any(c => c.Type == System.Security.Claims.ClaimTypes.Role && c.Value == "admin" || c.Value == "moderator"))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Body" class="control-label"></label>
                    <textarea asp-for="Body" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="FKUserId" class="control-label"></label>
                    <select asp-for="FKUserId" class="form-control" asp-items="ViewBag.Users"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>
}
@if (User.Claims.Any(c => c.Type == System.Security.Claims.ClaimTypes.Role && c.Value == "landlord" || c.Value == "tenant"))
{
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Title" class="control-label"></label>
                    <input asp-for="Title" class="form-control" />
                    <span asp-validation-for="Title" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Body" class="control-label"></label>
                    <textarea asp-for="Body" class="form-control" rows="5"></textarea>
                    <span asp-validation-for="Body" class="text-danger"></span>
                    <div class="form-group">
                        <label asp-for="FKRentedApartmentId" class="control-label"></label>
                        <select asp-for="FKRentedApartmentId" class="form-control" asp-items="ViewBag.FKRentedApartmentId"></select>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
            </form>
        </div>
    </div>
}

@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Body" class="control-label"></label>
                <input asp-for="Body" class="form-control" />
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FKTenantId" class="control-label"></label>
                <select asp-for="FKTenantId" class ="form-control" asp-items="ViewBag.FKTenantId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FKLandlordId" class="control-label"></label>
                <select asp-for="FKLandlordId" class ="form-control" asp-items="ViewBag.FKLandlordId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FkApartmentId" class="control-label"></label>
                <select asp-for="FkApartmentId" class="form-control" asp-items="ViewBag.FKApartmentId"></select>
            </div>
            <div class="form-group">
                <label asp-for="FKUserId" class="control-label"></label>
                <select asp-for="FKUserId" class="form-control" asp-items="ViewBag.Users"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>*@
<div>
    <a asp-action="Index">Back to List</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}