.multiselect {
  width: 200px;
}

.selectBox {
  position: relative;
}

.selectBox select {
  width: 100%;
  font-weight: bold;
}

.overSelect {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

#checkboxes {
  display: none;
  border: 1px #dadada solid;
}

#checkboxes label {
  display: block;
}

#checkboxes label:hover {
  background-color: #1e90ff;
}

/*----------------------------------------------------*/

select[multiple] option {
    display: block;
    width: 100%;
    margin-bottom: 0.5em;
    padding: 0.25em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

    select[multiple] option:before {
        content: "";
        display: inline-block;
        width: 1.5em;
        height: 1.5em;
        margin-right: 0.5em;
        border: 1px solid #ccc;
        border-radius: 4px;
        background-color: white;
        vertical-align: middle;
    }

    select[multiple] option:checked:before {
        content: "\2713";
        font-size: 1.5em;
        line-height: 1.5;
        color: white;
        background-color: #007bff;
    }