@page "{id:guid}"
@model UserModel

@using FaturaTakip.Areas.Admin.Pages.Manage
@inject UserManager<InvoiceTrackUser> userManager

@{
    var user = await userManager.FindByIdAsync(Model.Id.ToString());
}
<head>
    <title>Edit User</title>
    <link rel="stylesheet" href="~/css/DropdownCheckbox.css" asp-append-version="true" />
    <script src="~/js/DropdownCheckbox.js"></script>
</head>

<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <input asp-for="@user.GovermentId" class="form-control" disabled />
                <label asp-for="@user.GovermentId" class="form-label"></label>
            </div>
            <div class="form-group">
                <label asp-for="Input.Name" class="form-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName" class="form-label"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Email" class="form-label"></label>
                <input asp-for="Input.Email" class="form-control" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber" class="form-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Roles" class="form-label"></label>
                <br />
                <div id="list1" class="dropdown-check-list" tabindex="100">
                    <span class="anchor">Select Fruits</span>
                    <ul class="items">
                        <li><input type="checkbox" />Apple </li>
                        <li><input type="checkbox" />Orange</li>
                        <li><input type="checkbox" />Grapes </li>
                        <li><input type="checkbox" />Berry </li>
                        <li><input type="checkbox" />Mango </li>
                        <li><input type="checkbox" />Banana </li>
                        <li><input type="checkbox" />Tomato</li>
                    </ul>
                </div>
            </div>
            <button id="update-profile-button" type="submit" class="w-100 btn btn-lg btn-primary">Save</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}