@page

@using Microsoft.AspNetCore.Mvc.TagHelpers
@model RegisterModel

@inject FaturaTakip.Services.CommonLocalizationService commonLocalizer
@inject Microsoft.AspNetCore.Mvc.Localization.IViewLocalizer _localizer


<h1>@_localizer["Register"]</h1>
<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="row">
        <div class="col-md-4">
            <h2>@_localizer["CreateAccount"]</h2>
            <hr />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.Password"></label>
                <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.ConfirmPassword"></label>
                <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <div class="col-md-6 col-md-offset-2">
            <div class="form-group">
                <label asp-for="Input.Name" class="control-label"></label>
                <input asp-for="Input.Name" class="form-control" />
                <span asp-validation-for="Input.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.LastName" class="control-label"></label>
                <input asp-for="Input.LastName" class="form-control" />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.GovermentId" class="control-label"></label>
                <input asp-for="Input.GovermentId" class="form-control" />
                <span asp-validation-for="Input.GovermentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.YearOfBirth" class="control-label"></label>
                <input asp-for="Input.YearOfBirth" class="form-control" maxlength="4"/>
                <span asp-validation-for="Input.YearOfBirth" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.PhoneNumber" class="control-label"></label>
                <input asp-for="Input.PhoneNumber" class="form-control" />
                <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
            </div>
        </div>
        <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">@commonLocalizer.Get("Register")</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
